
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');


*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Varela Round', sans-serif;
  background-image: url(/assets/images/bkg.png);
  background-size: cover;
  color: white;
} 

.logo{
  width: 50%;
  margin: 10% auto;

}

.icon{
 width: 20%;
 margin: 5%;

}
 

.player2{
  margin-top: 20%;
  margin-left: 10%;
}

#canvas{
  /* border: solid 3px#812E85   ; */
  border-radius: 15px;
  border: 5px solid#EB7F98 ;
} 

h2{
  padding:20px 10px 20px 10px ;
  text-align: center;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 3px 3px 3px #1E88E5;
  color: #6C3483;
  line-height: 2em;
}

h4{
  color: #EDF632;
  margin: 10%;
}


.control {
  margin: 10%;
}

.life{
  wi;
}

button{
  margin: 5px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  border:2px solid #ef476f;
  transition: all 0.07s;
  background: rgba(0,0,0,0.1);
  text-shadow: 0 0 5px #ef476f;
}

.playing{
  transform: scale(1.1);
  border-color: #FAE25A;
  box-shadow: 0 0 10px #FAE25A
}

.clock{
  width: 40px;
  height: 40px;
  border: 10px solid white;
  border-radius: 50%;
  padding: 2px;
  box-shadow:
    0 0 0px 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #efefef,
    inset 0 0 10px black,
    0 0 0 10px rgba(0,0,0,0.2);
    margin: 10% auto;

}

.clock-face{
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

.hand{
  width: 50%;
  height: 2px;
  background: #812E85;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2,7, 0.58, 1);

}
