@import url("https://fonts.googleapis.com/css?family=Lato:400,900&display=swap");

@font-face {
  font-family: 'NiseSegaSonic';
  src: url(/Ponic/client/assets/fonts/NiseSegaSonic.TTF) format('truetype');
}

@font-face {
  font-family: 'Poniville';
  src: url(/Ponic/client/assets/fonts/PonyvilleMedium0.4.ttf) format('truetype');
}

@font-face {
  font-family: 'Celestia';
  src: url(/Ponic/client/assets/fonts/CelestiaMediumRedux_alt1.55.ttf) format('truetype');
}

body {
  margin-top: 5%;
  background-color: black;
  color: white;
  font-family: 'NiseSegaSonic', "Lato", sans-serif;
  text-align: center;
}

.jumbotron {
  width: 110%;
  height: 300px;
 
  background-color: #333332;
  background-image: url("/ponicNew/images/kisspng-sonic-.png");
  background-size: cover;
  background-repeat: no-repeat;
}

p {
  margin-top: 2%;
  line-height: 1em;
  font-size: 1em;
  text-align: center;
}

.rd{
  font-family:  'Celestia';
  font-size: 1.5em;
}

.col{
  text-align: center;
}

.card{

  width: 80%;
  color: #2349F5;
 
  font-family: 'NiseSegaSonic';
  margin-top: 25%;
  background:#252524;
  box-sizing: border-box;
  text-align: center;
  margin: auto;
}

.btn{
  margin: 10%;
  font-family: 'Poniville';
  background: #13CA29  ;
   font-family:  'Celestia';
}

.btn-lg{
  margin: 0%;
  width: 40%;
}