@import url("https://fonts.googleapis.com/css?family=Lato:400,900&display=swap");

@font-face {
  font-family: 'NiseSegaSonic';
  src: url(/Ponic/client/assets/fonts/NiseSegaSonic.TTF) format('truetype');
}

@font-face {
  font-family: 'Poniville';
  src: url(/Ponic/client/assets/fonts/PonyvilleMedium0.4.ttf) format('truetype');
}

@font-face {
  font-family: 'Celestia';
  src: url(/Ponic/client/assets/fonts/CelestiaMediumRedux_alt1.55.ttf) format('truetype');
}

body, html{ 
 width: 100%;
 background: url(/Ponic/client/assets/images/ponic-titulo-01.png);

 background-repeat: no-repeat;
 background-size: cover;
 background-color: #252524;
 font-family: 'NiseSegaSonic', "Lato", sans-serif;
}
 
nav{
  width: 100%;
  
}


ul li{
  list-style-type: none;
}
nav ul li {
  display: inline;
}

nav ul li a i {
  color: #F7FBF7 ;
  font-size: 1em;
 
}

.btn-floating{
  width: 5%;
  border-radius: 50%;
  /* border: solid 5px #FFFF00; */
  background: #0000CC;
  text-align: center;
  padding: 1.5%;
  margin-top: 2%;
  margin-left: 18%;
  transition:all 0.375s cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-floating:hover{
width: 9%;
font-size: 3em;
background-color: #33FF66 ;
cursor: pointer;
}

.btn{
  left: 20%;
  background: none;
  width: 40%;
  height: 10%;
}

.btn-lg{
  margin: 0%;
  width: 40%;
}
.opc{
  background-color: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row
}


.modal-dialog.modal-notify.modal-success .modal-header{
  color: #2349F5;
}

.text-center img{
  width: 100%;;
}

.runner{
  display: block;
  width:140px;
  height: 140px;
  border-radius: 50%;
 
}

.btn-outline-danger {
  border:none;
}

.exit{
  margin: 10%;
  padding: 2%;
}

.one{
  background: url('/Ponic/client/assets/images/Personajes-mi-pequeño-poni-rainbow-dash.jpg');
}

.two{
  background: url('/Ponic/client/assets/images/Personajes-mi-pequeño-pony-fluttershy.jpg');
}

.three{
  background: url('/Ponic/client/assets/images/Personajes-mi-pequeño-poni-celestia.jpg');
}

.four{
  background: url('/Ponic/client/assets/images/Personajes-mi-pequeño-poni-princesa-luna.jpg');
}

.five{
  background: url('/Ponic/client/assets/images/Personajes-mi-pequeño-poni-pinkie-pie.jpg');
}

.six{
  background: url('/Ponic/client/assets/images/Personajes-mi-pequeño-poni-Applejack.jpg');
}

.seven{
  background: url('/Ponic/client/assets/images/Twilight-Sparkle-Personajes-mi-pequeño-poni.jpg');
}

.eight{
  background: url('/Ponic/client/assets/images/Personajes-mi-pequeño-poni-rarity.jpg');
}

.nine{
 background: url('/Ponic/client/assets/images/sonic-profile.jpeg');
}

.ten{
 background: url('/Ponic/client/assets/images/Personajes-mi-pequeño-poni-rarity.jpg');
}