
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');


@font-face {
  font-family: 'NiseSegaSonic';
  src: url(/Ponic/client/assets/fonts/NiseSegaSonic.TTF) format('truetype');
}

@font-face {
  font-family: 'Poniville';
  src: url(/Ponic/client/assets/fonts/PonyvilleMedium0.4.ttf) format('truetype');
}

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Varela Round', sans-serif;
  color: white;
  background-image: url(/Ponic/client/assets/images/mlp_wallpaper_rainbowdash20.jpg);
  background-repeat: no-repeat;
  background-color: black;
  background-size: cover; 
  
} 

.logo{
  width: 40%;
  margin: 10% auto;

}

.icon{
 width: 20%;
 margin: 5%;

}
 
.player{
  font-family: 'Poniville';
}

.player2{
  font-family: 'NiseSegaSonic';
  margin-top: 20%;
  margin-left: 10%;
  
}

.player2 h4{
  color:#2349F5;
  font-weight: bold;
}

.scene{
  display: inline-block;
  perspective: 500px;
}
#canvas{

padding: 5%;
  border-radius: 15px;
  /* border: solid 2px red; */
  transform: rotateX(50deg);
  /* transform: rotate(20deg); */
} 

h2{
  padding:20px 10px 20px 10px ;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 3px 3px 3px #1E88E5;
  color: #6C3483;
  line-height: 2em;
}

h4{
  color: #EDF632;
  margin: 10%;
}



.control {
  margin: 10%;
}



button{
  margin: 5% auto;
  padding: 5px;
  width: 40%;
  border-radius: 15%;
  border:2px solid #2349F5;
  transition: all 0.07s;
  background: rgba(0,0,0,0.1);
  text-shadow: 0 0 5px #FAE25A
}

#countdown{
  text-align: center;
  font-family: 'NiseSegaSonic';
  padding: 10%;
  font-size: 2em;
}

#progressBar{
  width: 100%;
}

.btn{
  margin: 2%;
  font-family: 'Poniville';
  background: #13CA29  ;
 }
