
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');


*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Varela Round', sans-serif;
  background-image: url(/Ponic/client/assets/images/mlp_wallpaper_rainbowdash20.jpg);
  background-size: cover;
  color: white;
} 

.logo{
  width: 40%;
  margin: 10% auto;

}

.icon{
 width: 20%;
 margin: 5%;

}
 

.player2{
  margin-top: 20%;
  margin-left: 10%;
}

#canvas{
  /* border: solid 3px#812E85   ; */
  border-radius: 15px;
  border: 5px solid#EB7F98 ;
  position: absolute;
} 

h2{
  padding:20px 10px 20px 10px ;
  text-align: center;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 3px 3px 3px #1E88E5;
  color: #6C3483;
  line-height: 2em;
}

h4{
  color: #EDF632;
  margin: 10%;
}


.control {
  margin: 10%;
}



button{
  margin: 5px;
  padding: 5px;
  width: 30px;
  height: 30px;
  border: none;
  border-radius: 5px;
  border:2px solid #ef476f;
  transition: all 0.07s;
  background: rgba(0,0,0,0.1);
  text-shadow: 0 0 5px #ef476f;
}

.playing{
  transform: scale(1.1);
  border-color: #FAE25A;
  box-shadow: 0 0 10px #FAE25A
}

.clock{
  width: 40px;
  height: 40px;
  border: 10px solid white;
  border-radius: 50%;
  padding: 2px;
  box-shadow:
    0 0 0px 4px rgba(0,0,0,0.1),
    inset 0 0 0 3px #efefef,
    inset 0 0 10px black,
    0 0 0 10px rgba(0,0,0,0.2);
    margin: 10% auto;

}

.clock-face{
  position: relative;
  width: 100%;
  height: 100%;
  transform: translateY(-3px);
}

.hand{
  width: 50%;
  height: 2px;
  background: #812E85;
  position: absolute;
  top: 50%;
  transform-origin: 100%;
  transform: rotate(90deg);
  transition: all 0.05s;
  transition-timing-function: cubic-bezier(0.1, 2,7, 0.58, 1);

}

/* 
.haze {
  width: 70%;
  height: 50px;
  position: absolute;
  left: 0;
  top: 35%;
  margin-top: -25px;
  z-index: 1;
  background: linear-gradient(to bottom, #000, #000 55%, #000 65%, transparent);
}

.world {
  width: 384px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 35%;
  margin-top: -50px;
  margin-left: -192px;
  perspective: 100px;
  transform: scale3d(0.2, 0.2, 1);
}

.road {
  width: 100%;
  height: 100%;
  transform: rotate3d(1, 0, 0, 40deg) scale3d(0.9, 0.5, 1);
}
.road .segment {
  position: absolute;
  left: 0;
  top: 0;
  animation-name: forward;
  animation-duration: 6s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.road .block {
  float: left;
  width: 48px;
  height: 9px;
  border: 1px solid black;
  border-left: 3px solid black;
  border-right: 3px solid black;
  box-shadow: -4px 1px 0px 1px rgba(0, 0, 0, 0.35) inset;
}
.road .block.blue {
  background: #3159ff;
}
.road .block.green {
  background: #00fb00;
}
.road .block.yellow {
  background: #fffb00;
}
.road .block.orange {
  background: #ff7900;
}
.road .block.red {
  background: #ff0000;
}
.road .block.violet {
  background: #bd79ff;
}
.road .block.teal {
  background: #00f4ba;
}

.delay-1 {
  animation-delay: -0.75s;
}

.delay-2 {
  animation-delay: -1.5s;
}

.delay-3 {
  animation-delay: -2.25s;
}

.delay-4 {
  animation-delay: -3s;
}

.delay-5 {
  animation-delay: -3.75s;
}

.delay-6 {
  animation-delay: -4.5s;
}

.delay-7 {
  animation-delay: -5.25s;
}

.delay-8 {
  animation-delay: -6s;
}

@keyframes forward {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 504px, 0);
  }
} */
